.project-card-wrapper {
  width: 25vw;
  height: 400px;
  background-color: black;
  border-radius: 25px;
  padding: 0px 25px;
  margin: 10px;
  box-shadow: 5px 5px 10px rgb(6, 6, 6);
}

#card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.tag {
  margin: 3px;
}