// .switch {
//   // position: absolute;
//   // display: inline-block;
//   // top:25px;
//   // right: 32px;
//   // width: 60px;
//   // height: 34px;
// }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  // position: absolute;
  display: block;
  width: 5rem;
  height:50%;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: relative;
  display: block;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  top: 3.5px;
  left: 11px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

.slider.round {
  border-radius: 1.8rem;
}

.slider.round:before {
  // display:block;
  // height: 2rem;
  // width: 2rem;
  border-radius: 50%;
  background-color: white;
}
