@import "./variables.scss";

.gradient-highlight {
  background-image: linear-gradient(90deg, aquamarine, $text-color);
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}

.highlight {
  color: aquamarine;
  filter: drop-shadow(0.5rem 0.5rem 20px rgb(104, 210, 175));
}

.flex {
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.logo {
  background-color: none;
  width: 50px;
  height: 50px;
  border: 0px;
  object-fit: cover;
}





