@use "sass:map";
$navbar-offset:80px;

// Dark Mode Colors
$bg-color-dark: #242424;
$text-color-dark: rgba(255, 255, 255, 0.87);
$button-color-dark: #646cff;
$button-hover-color-dark: aquamarine;
$a-hover-color-dark: #535bf2;
$button-bg-color-dark: #1a1a1a;
$button-bg-hover-color-dark: rgb(65, 65, 65);
$gradient-color-dark: linear-gradient(90deg, aquamarine, $text-color-dark);


// Light Mode Colors
$bg-color-light: white;
$text-color-light: rgba(0, 0, 0, 0.87);
$button-color-light: #646cff;
$button-hover-color-light: aquamarine;
$a-hover-color-light: #535bf2;
$button-bg-color-light: #1a1a1a;
$button-bg-hover-color-light: rgb(65, 65, 65);
$gradient-color-light: linear-gradient(90deg, aquamarine, $text-color-dark);


$breakpoints: (
  xs: 320px,
  sm: 560px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  2xl: 1400px,
  3xl: 1980px,
  4xl: 2560px,
);
