@import "../../mixins.scss";
@import "../../variables.scss";
@function generate-offset(){
  $value: 100vw * 5%;
  @return $value;
}

.image-container {
  display: flex;
  position: relative;
  opacity: 0;
  animation: fade-in 1s ease-in 4.5s forwards;
  text-align: center;
  padding: 3rem;
}

.image-container img {
  flex:1;
  object-fit: contain;
}

.openclose-animation {
  animation: 3s linear infinite openclose forwards;
}

#banner {
  margin: 2rem 0px;
  padding: 0px 3rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  .dot {
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.8s
      both;
    height: 0.65rem;
    width: 0.65rem;
    // background-color: #fff;
    border-radius: 50%;
    display: inline-block;
  }

  
  .word {
    display: inline-block;
    width: 0px;
    max-width: fit-content;
    // background-color: $bg-color;

    //Overflow text is invisible
    overflow: hidden;

    // Add White-Space nowrap to prevent text from wrapping to next line
    white-space: nowrap;

    // Inline Block text was misaligned with other text in div - they are rendered differently. Add vertical align bottom to correct
    vertical-align: bottom;
  }

  h1 {
    margin: 0px;
  }

  @include breakpoint(xs, sm) {

    @for $i from 1 to 5 {
      $delay: $i * 0.75s;
      $offset: calc(100vw / 25) * ($i - 1);
      h1:nth-child(#{$i}) {
        height: 25%;
        padding-left: $offset;
        animation: slide-in-left
          0.75s
          cubic-bezier(0.25, 0.46, 0.45, 0.94)
          $delay
          both;
        width: fit-content;
      }
    }
  }
  @include breakpoint(sm, md) {

    @for $i from 1 to 5 {
      $delay: $i * 0.75s;
      $offset: calc(100vw / 10) * ($i - 1);
      h1:nth-child(#{$i}) {
        height: 25%;
        padding-left: $offset;
        animation: slide-in-left
          0.75s
          cubic-bezier(0.25, 0.46, 0.45, 0.94)
          $delay
          both;
        width: fit-content;
      }
    }
  }
  @include breakpoint(md, lg) {
    @for $i from 1 to 5 {
      $delay: $i * 0.75s;
      $offset: calc(100vw / 7) * ($i - 1);
      h1:nth-child(#{$i}) {
        font-size: 2.5rem;
        height: 25%;
        padding-left: $offset;
        animation: slide-in-left
          0.75s
          cubic-bezier(0.25, 0.46, 0.45, 0.94)
          $delay
          both;
        width: fit-content;
      }
    }
  }
  @include breakpoint(lg, 4xl) {
    @for $i from 1 to 5 {
      $delay: $i * 0.75s;
      $offset: calc(100vw / 5) * ($i - 1);
      h1:nth-child(#{$i}) {
        font-size: 3rem;
        height: 25%;
        padding-left: $offset;
        animation: slide-in-left
          0.75s
          cubic-bezier(0.25, 0.46, 0.45, 0.94)
          $delay
          both;
        width: fit-content;
      }
    }
  }
}

.image-container {
  display: flex;
  position: relative;
  opacity: 0;
  animation: fade-in 1s ease-in 4.5s forwards;
  text-align: center;
  padding: 3rem;
  @include breakpoint(xs, sm) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 300px;
      height: auto;
    }
  }
  @include breakpoint(sm, md) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    img {
      text-align: center;
      width: 300px;
      height: auto;
    }
  }
  @include breakpoint(md, 4xl) {
    flex:1;
    flex-direction: row;
    gap: 2rem;
    img {
      width: 30%;
      height: auto;
      margin: 0px 10px;
    }
  }
  
}

.image-container img {
  object-fit: contain;
}

img {
  @include breakpoint(xs, sm) {
    width: 300px;
    height: auto;
  }
  @include breakpoint(sm, md) {
    width: 100%;
    height: auto;
  }
  @include breakpoint(md, 4xl) {
    width: 30%;
    height: auto;
    margin: 0px 10px;
  }
}

@include keyframes-animation(fade-in){
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@include keyframes-animation(slide-in-left) {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@include keyframes-animation(puff-in-center) {
  0% {
    -webkit-transform: scale(4);
    transform: scale(4);
    -webkit-filter: blur(0.5px);
    filter: blur(1px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@include keyframes-animation(openclose) {
  0% {
    width: 0px;
  }
  65% {
    width: 100%;
  }
  100% {
    width: 0px;
  }
}
